:root {
    --white: #FFF;
    --black: #000;
    --dark: #1b1b1b;
    --gray: rgba(1, 1, 1, 0.6);
    --lite: rgba(255, 255, 255, 0.6);
    --primary: #fcb449;
    --primary_dark: #a15703;
    --default_font: 'Montserrat', sans-serif;
    --title_font: 'Abril Fatface', cursive;
    --cursive_font: 'Dancing Script', cursive;
  }
  body {
    padding: 0% !important;
    
  }

  .col-md-3 {
  
    width: 100%;
    max-width: 300px;
    height: 600px;
    margin: 0 auto;
  }
  
  .product__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product__card {
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
}

.product__image {
  width: 200px;
  height: 200px; /* Adjust the desired height */
  object-fit: cover;
  margin-right: 20px;
  transition: transform 0.3s;
}


.product__image:hover {
  transform: scale(1.2); /* Adjust the desired scale factor */
}

.product__info {
  flex-grow: 1;
}

.product__name {
  font-size: 16px;
  font-weight: bold;
}

.product__description {
  font-size: 14px;
}

.product__price {
  font-size: 16px;
  font-weight: bold;
}

.buy-now {
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.buy-now:hover {
  background-color: #fcb449;
}

  
  /* Responsive styles */
  @media (max-width: 767px) {
    .col-md-3 {
      width: 100%;
      max-width: none;
      margin: 0;
      padding: 0 10px;
    }
  }
  
  /* Cart */
  .cart {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .cart h2 {
    margin-top: 0;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .cart-total {
    margin-top: 10px;
    font-weight: bold;
    text-align: right;
  }

 